* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
}
.header .menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  margin-right: 28px;
  cursor: pointer;
  border: none;
}
.header .menu-button .menu-line {
  display: block;
  background: #1f2022;
  border-radius: 20px;
  width: 20px;
  height: 3px;
}
.header .logo {
  margin-right: 59px;
}
.header .input-group {
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
}
.header .input-group .input-search {
  width: 100%;
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
}
.header .input-group .button-search {
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
}
.header .input-group .icon-search {
  fill: #000;
  cursor: pointer;
}
.header .icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .icons .icons-link {
  text-decoration: none;
}
.header .icons .icons-link:not(:last-child) {
  margin-right: 50px;
}
.header .icons .icons-link:hover {
  opacity: 0.9;
}
.header .icons .icon-video {
  opacity: 0.24;
}
.header .icons .icon-video:hover {
  opacity: 0.9;
}
.header .icons .icon-apps {
  opacity: 0.24;
}
.header .icons .icon-apps:hover {
  opacity: 0.9;
}
.header .icons .icon-notification {
  opacity: 0.24;
}
.header .icons .icon-notification:hover {
  opacity: 0.9;
}
.header .user {
  margin-left: 45px;
}
.container .sidebar {
  padding-left: 32px;
}
.container .sidebar .nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: 0;
  list-style: none;
  padding: 0;
}
.container .sidebar .nav-menu .nav-item {
  margin-bottom: 28px;
}
.container .sidebar .nav-menu .nav-item .nav-link {
  color: #898989;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.container .sidebar .nav-menu .nav-item .nav-link:hover {
  color: red;
}
.container .sidebar .nav-menu .nav-item .nav-link:hover .icon {
  fill: red;
}
.container .sidebar .nav-menu .nav-item .icon {
  fill: #898989;
}
.container .sidebar .nav-menu .nav-text {
  margin-left: 13px;
}
.container .sidebar .nav-menu .nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.container .sidebar .nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 30px;
}