* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  .menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    margin-right: 28px;
    cursor: pointer;
    border: none;
    .menu-line {
      display: block;
      background: #1f2022;
      border-radius: 20px;
      width: 20px;
      height: 3px;
    }
  }
  .logo {
    margin-right: 59px;
  }
  .input-group {
    background: #ebebeb;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
    margin-right: 40px;
    .input-search {
      width: 100%;
      background-color: transparent;
      border: none;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 23px;
      padding-right: 23px;
    }
    .button-search {
      width: 19px;
      height: 19px;
      border: none;
      background-color: transparent;
    }
    .icon-search {
      fill: #000;
      cursor: pointer;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    .icons-link {
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 50px;
      }
      &:hover {
        opacity: 0.9;
      }
    }
    .icon-video {
      opacity: 0.24;
      &:hover {
        opacity: 0.9;
      }
    }
    .icon-apps {
      opacity: 0.24;
      &:hover {
        opacity: 0.9;
      }
    }
    .icon-notification {
      opacity: 0.24;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .user {
    margin-left: 45px;
  }
}

.container {
  .sidebar {
    padding-left: 32px;
    position: fixed;
    top: 114px;
    left: 0;
    height: calc(100% - 114px);
    overflow-y: auto;
    width: 200px;
    background-color: #fff;
    z-index: 1;
    .nav-menu {
      margin-top: 0;
      margin-bottom: 60px;
      margin-left: 0;
      list-style: none;
      padding: 0;

      .nav-item {
        margin-bottom: 28px;

        .nav-link {
          color: #898989;
          text-decoration: none;
          display: flex;
          align-items: center;
          &:hover {
            color: red;
            .icon {
              fill: red;
            }
          }
        }
        .icon {
          fill: #898989;
        }
      }
      .nav-text {
        margin-left: 13px;
      }
      .nav-image {
        width: 26px;
        height: 26px;
        border-radius: 50%;
      }
    }
    .nav-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
      margin-bottom: 30px;
    }
  }

  .content {
    width: 97%;
    height: 400px;
    margin-top: 84px;
    padding-left: 250px;
    padding-top: 28px;
    padding-right: 30px;
    .channel {
      // padding-left: 10px;
      position: relative;
      margin-bottom: 49px;
      .channel-title {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #19202c;
        font-weight: bold;
        font-size: 26px;
        line-height: 33px;
        padding-bottom: 23px;
        min-width: 20%;
        .block3 {
          width: 231px;
          height: 50px;
        }
      }
      .channel-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .channel-text {
        margin-left: 20px;
      }
    }
  }
  .swiper-slide {
    width: 270px;
    &.hard {
      width: 540px;
      height: 250px;
    }
  }
  .video-card {
    &.hard {
      // width: 540px;
    }

    .video-thumb {
      width: 100%;
      height: 150px;
      overflow: hidden;
      border-radius: 14px;
      position: relative;
      &.hard {
        width: 100%;
        height: 250px;
      }

      .video-duration {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0.3;
        border-radius: 12px;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        padding: 3px 9px;
      }
      .thumbnail {
        width: 100%;
        height: 150px;
        object-fit: cover;
        &.hard {
          width: 100%;
          height: 250px;
        }
      }
    }
    .video-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #19202c;
      margin-top: 10px;
      margin-bottom: 4px;
    }
    .video-counter {
      display: flex;
    }
    .video-info {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      line-height: 16px;
      color: #c2c2c2;
      width: 250px;
      &.block2 {
        width: 540px;
      }
      .video-views {
        margin-right: 5px;
        &::after {
          content: "";
          width: 2px;
          height: 2px;
          background-color: #c2c2c2;
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }
  }
  .channel-button {
    cursor: pointer;
  }
  .slider-buttons {
    position: absolute;
    top: 12px;
    right: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 67px;
  }
  .card-hard {
    width: 540px;
  }
  .block-3-1 {
    font-size: 16px;
    line-height: 20px;
    color: #c2c2c2;
    margin-left: 19px;
    align-items: center;
    margin-top: -19px;
  }
  .button-sub {
    width: 154px;
    height: 40px;
    padding: 10px 20px;
    background: #ff0000;
    border-radius: 20px;
    span {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .channel-block3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .button-sub {
      position: absolute;
      top: 6px;
      right: 200px;
      text-decoration: none;
    }
  }
  .channel-slider2 {
    height: 305px;
  }
}
.mobile-sidebar {
  display: none;
}
.mobile-search {
  display: none;
}

@media (max-width: 860px) {
  .header {
    .icons {
      display: none;
    }
    .user {
      margin-left: auto;
    }
  }
}

@media (max-width: 668px) {
  .header {
    .mobile-search {
      display: block;
      margin-left: auto;
      // z-index: 1;
    }
    .input-group {
      position: fixed;
      top: -100px;
      left: 0;
      opacity: 0;
      width: 69%;
      margin: auto;
      transition: top 0.2s;
      &.is-open {
        opacity: 1;
        top: 19px;
        margin-left: 25px;
        transition: top 0.2s;

        // z-index: 2;
      }
    }
    .user {
      margin-left: 20px;
    }
  }
  .container {
    .content {
      padding-left: 32px;
    }
    .menu-button {
      display: none;
    }
    .sidebar {
      display: none;
    }
  }
  .channel {
    .slider-buttons {
      display: none;
    }
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide {
    margin-bottom: 40px;
  }
  .video-thumb {
    width: 300px;
  }

  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    .nav-menu {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 0;
      padding-top: 13px;
      padding-bottom: 11px;
      border-top: 1px solid #f1f1f1;
      .nav-item {
        margin-bottom: 0;
        .nav-link {
          display: flex;
          flex-direction: column;
        }
        .nav-text {
          margin-left: 0;
          font-size: 10px;
          line-height: 13px;
        }
      }
    }
  }
}
